/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 100%);
    color: hsl(240, 10%, 3.9%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  /* Animations */
  
  @keyframes textFadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Container Styles */
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh; /* added 100vh to make it full height */
    animation: fadeIn 1s ease-in-out forwards;
    grid-gap: 20px;
    margin: 0 auto;
    width: 80%;
  }
  
  /* Sign In Section Styles */
  
  .sign-in-section {
    background-color: #e6f0ff;
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    width: 210vh;
    background-color: #e6f0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .sign-in-box {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 16px;
  }
  
  .title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: bold;
    color: #0a1931;
    animation: textFadeIn 1s ease-in-out forwards;
    animation-delay: 0.2s;
  }
  
  .subtitle {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.875rem;
    color: #6b7280;
    animation: textFadeIn 1s ease-in-out forwards;
    animation-delay: 0.4s;
  }
  
  .form {
    margin-top: 1rem;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input {
    width: 100%;
    padding: 0.75rem;
    background-color: #f2f2f2;
    color: #0a1931;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #0a1931;
    color: #f2f2f2;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
  }
  
  .submit-button:hover {
    background-color: #0d2a4d;
  }
  
  .footer-text {
    margin: 3px;
    text-align: center;
    font-size: 0.875rem;
    color: #6b7280;
    animation: textFadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
  }
  
  .sign-up-link {
    color: #0a1931;
    text-decoration: none;
  }
  
  .sign-up-link:hover {
    text-decoration: underline;
  }
  
 
  .learn-more-button {
    background-color: #0a1931;
    color: #f2f2f2;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  .learn-more-button:hover {
    background-color: #0d2a4d;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }